.btns{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.card-body{
    /*text-align: center;*/
}
.card{
  /*  height: 450px;*/
}
.my-cart-container{
    display: flex;
    flex-direction: column;
   /* justify-content: space-evenly;*/
   justify-content: center;
    align-items: center;
    height: 75rem;
    width: 96%;
}
.height-40{
    height: 40rem;
}
.reset-btn{
    width: 15rem;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    width: 100%;
}
.red{
    background-color: red;
}
.margin-5{
    /*margin: 5rem;*/
    margin: 2rem 3rem
}
.white{
    color: white;
}
.white:hover{
    color: white;
}
.pages-nav-container{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.nav-container{
    display: flex;
    justify-content:space-around;
}
.sec2-container{
    display: flex;

}
.all-products-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-products-btn{
    transform: rotate(90deg);
    width: max-content;
}
.offers-container{
    display: flex;
    justify-content: space-around;
    width: 96%;

}
.bottom-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}
.offer-text{
    font-size: 2.5rem;
    color: black;
}
.font-1-half{
    font-size: 1.5rem;
}
.my-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 561px;
}
.my-card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    
}
.last-sec-container{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
   

}
.last-sec-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.last-sec-imgs{
    width: 20%;
}
.my-row{
    display: flex;
    
}
.my-shop-container{
    display: flex;
    flex-direction: column;
   /* justify-content: space-evenly;*/
    align-items: center;
   /* height: 75rem;
    width: 96%;*/
}
.shop-banner-img{
    width: 100%;
        }
.cart-grid{
    margin: 2rem 7rem;
}
.get-price-btn{
    margin: 5rem;
}
.width-100{
    width: 100%;
}
.cart-items-quantity{
  /*  background-color: red;*/
    width: 18px;
    border-radius: 10px;
    height: 18px;
    text-align: center;
    padding-bottom: px;
    font-size: 11px;
    font-weight: 800;
}
.font-25{
    font-size: 25px;

}
.green{
    background-color: green;
}
.cart-items-container{
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    justify-content: flex-start;
    align-items: center;
    /* height: 75rem; */
    width: 100%;
}
.cart-page-container{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .margin-5{
        margin: 1rem;
        /*margin: 1rem 5rem;*/
    }
    .card-title{
        font-size: 1rem;
    }
    .my-cart-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height:40rem;
        width: 96%;
    }
    .pages-nav-container{
       
        width: 18%;
    }
    .sec2-container{
        margin-top: 9rem;
    
    }
    .offers-card1{
        width: 266px;
        margin-top: 10rem;
        height: 200px;
       

    }
    .offers-card1-img{
display: none;
    }
    .my-card-body{
        height: 200px;
    }
   .offers-container{
        justify-content: space-evenly;
    width: 556px;
    }
    .last-sec-texts{
        padding-left: 5rem;
    }
    .shop-banner{
        display: none;
            }
  .last-sec-container{
     
                margin: 1rem;
             
            }   
 .my-shop-container{
               /* margin-top: 55rem;*/
            }     
 .width-100{
                width: 100%;
            }
  }
  .carousel-container {
    direction: rtl;
  }
  .blue{
    background-color:rgb(91,134,176);
    
}
.top_background_image{
    
    width: 100%;
    position: relative;
    height: 106vh;
    background-image: url(../Photos/water1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}
.promotional_phrases_section{
    position: absolute;
    width: 90%;
    height: 200px;
    top: 12em;
    left: 5em;
   background-color: rgba(192,210,229, 0.73);
   color: white;
   font-size: 30px;
   font-weight: 560;
   display: flex;
   justify-content: end;
   padding-top: 20px;
}
.header_text_div{
    border-left: dotted;
    margin-left: 30px;
    height: 115px;
}
.light_green_text{
    color: rgb(91,134,176);;
}
.weight_900{
    /*font-weight: 900;*/
    font-size: 60px;
    text-align: center;
}
.no_border{
    border: none;
}
.transparent{
    background: transparent;
}
